:root{
    --red-color: #E42759;
    --blue-color: #00001E;
    --white-color: white;
    --milk-color: #FEFDFA;
    --yellow-color: #F7CF54;
    --dark-color:black;
    --light-color: #fff;
    --grey-color: #505050;
    --trans-color:transparent;
    --icons-color: #B6B6B6;
}
body{
    overflow-y: hidden;
}
section
{
    min-height: 100vh;
}
button, input{
    color: var(--milk-color);
    font-size: 20px;
    outline: 0;
    border: none;
    background-color: transparent;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
.main-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.app{
    background-color: var(--trans-color);
    padding: 0px 50px 200px 50px;
    border-radius: 6px;
    color: #fff;
}
.app-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.app-header-search, .app-header-search-left{
    border: 2px solid var(--grey-color);
    border-radius: 45px;
    padding: 12px 24px;
    position: relative;
    top: 15px;
}
.app-header-search .form-control, .app-header-search-left .form-control{
    width: 146px;
    color: #fff;
}
.app-header-search .search-btn, .app-header-search-left .search-btn{
    color: white;
    font-size: 2.3rem;
    cursor: pointer;
}
.loop {
    color: var(--grey-color);
}
/* search list */
.search-list{
    z-index: 10;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    background: rgb(128, 128, 128);
    width: 100%;
    max-height: 300px;
    overflow-y: overlay;
}
.search-list::-webkit-scrollbar{
    width: 7px;
}
.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6 rgba(0, 0, 0, 0.8);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    /* border-radius: 5px; */
}
.search-list-item{
    display: flex;
    align-items: center;
    background-color: #11111a;
    cursor: pointer;
}
.search-list-item:hover{
    background-color: #1c2c57;
}
.search-list-item .searchListItem-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 11px;
}
.search-list-item img{
    width: 54px;
    margin-right: 17px;
}
.search-list-item .searchListItem-wrapper p{
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.app-body{
    border: 0;
    margin-top: 27px;
    overflow-y: scroll;
    padding: 3px;
    background: transparent;
    max-height: 600px;
    max-width: 1130px;
}
.app-body::-webkit-scrollbar{
    width: 7px;
}

.app-body::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}

.modal[open] {
    animation: fade-in 500ms forwards;
}

.app-body-content-list{
    width: 210px;
    height: 500px;
}

.app-body-content{
    /* display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 4rem;
    margin-right: 2rem; */
    display: flex;
    justify-content: space-between;
}

.tab-body-single{
    padding: 0px;
}

.app-body-content-thumbnail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-body-content-thumbnail .thumbnail{
    width: 336px;
    height: 450px;
    border-radius: 28px;
    overflow: hidden;
}

.app-body-content-thumbnail .name{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    color: var(--milk-color);
}

/* powerstats */
.powerstats{
display: none;
}
.powerstats li{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin: 21px auto;
    padding: 11px 14px 6px 15px;
    background-color: #06050D;
}
.powerstats li div .stats_icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 23px;
}
.powerstats li div i{
    color: var(--red-color);
}
.powerstats li div span{
    text-transform: uppercase;
    border-radius: 7px;
    padding: 0 1.2rem;
    margin: 0 -16px;
    font-size: 24px;
    font-weight: 700;
    color: var(--milk-color);
}
.powerstats li > span{
    color: var(--milk-color);
    margin: auto 0;
    font-weight: 900;
}
.powerstats li > span.bad {
    color: #DA3B19;
}
.powerstats li > span.mid {
    color: #E3B618;
}
.powerstats li > span.good {
    color: #A9DA1C;
}
.powerstats li > span.nice {
    color: #4EDF5C;
}

.stats_value{
    width: 36px;
}

/* show-tab */
.show-tab{
    display: block;
}