body{
    overflow-y: hidden;
}
.game-block{
    padding-top: 100px;
}
.game{
   width: 900px;
   height: 500px;
   border-bottom: 10px solid black;
   margin: auto; 
}
#hero{
    width: 100px;
    height: 100px;
    background-image: url('/img/SPIDERMAN.png');
    background-size: 100px 100px;
    position: relative;
    top:440px;


}
#build{
    width:20px;
    height: 40px;
    background-image: url('/img/cactus.png');
    background-size: 20px 40px;
    position: relative;
    top: 400px;
    left: 1500px;
    animation: buildMove 0.8s infinite linear;
}
@keyframes buildMove {
    0%{
        left:880px;
    }
    100%{
        left: -20px;
    }
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump {
    0%{
        top: 440px;
    }
    30%{
        top: 350px;
    }
    50%{
        top: 300px;
    }
    80%{
        top: 350px;
    }
    100%{
        top: 440px;
    }
}