body{
    overflow-y: hidden;
}
.game-block{
    padding-top: 50px;
}
.game{
   width: 700px;
   height: 400px;
   background-image: url("/img/city.jpg");
   background-size: 700px 400px;
   border: 2px solid #E42759;
   box-shadow:0px 0px 200px #E42759;
   margin: auto; 
}
#hero{
    width: 100px;
    height: 100px;
    background-image: url('/img/SPIDERMAN.png');
    background-size: 100px 100px;
    position: relative;
    top:260px;
    left:30px;


}
#build{
    width:50px;
    height: 75px;
    background-image: url('/img/sign.png');
    background-size: 50px 75px;
    position: relative;
    top: 170px;
    animation: buildMove 1.5s infinite linear;
    left:900px;
}
#trash{
    width:50px;
    height: 50px;
    background-image: url('/img/trash.png');
    background-size: 50px 50px;
    position: absolute;
    top: 180px;
    animation: trashMove 2s infinite linear;
    left:1000px;
}
#first-cloud{
    width: 50px;
    height: 50px;
    background-image: url(/img/firstcloud.png);
    background-size: 50px 50px;
    position: relative;
    top: 10px;
    left: 650px;
    animation: cloudMove 7s infinite linear;
}
#second-cloud{
    width: 50px;
    height: 50px;
    background-image: url(/img/seconcloud.png);
    background-size: 50px 50px;
    position: relative;
    top: -150px;
    left: 650px;
    animation: cloudMove 10s infinite linear;

}
@keyframes cloudMove{
    0%{
        left: 650px;
    }
    100%{
        left:-1px;
    }
}

@keyframes buildMove {
    0%{
        left: 900px;
        opacity: 0;
    }
    50%{
        left: 690px;
        opacity: 0;
    }
    55%{
        left: 692px;
        opacity: 1;
    }
    100%{
        left: -18px;
    }
}
@keyframes trashMove {
    0%{
        left: 1000px;
        opacity: 0;
    }
    50%{
        left: 690px;
        opacity: 0;
    }
    55%{
        left: 692px;
        opacity: 1;
    }
    100%{
        left: -18px;
    }
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump {
    0%{
        top: 260px;
    }
    30%{
        top: 160px;
    }
    50%{
        top: 100px;
    }
    80%{
        top: 160px;
    }
    100%{
        top: 260px;
    }
}