* {
    font-family: 'Nunito', sans-serif;
}

body {

    overflow-x: hidden;
}

header {
    padding: 17px 9px 23px 0;
    height: 100px;
    background-color: #000C2C;
}

.col_logo, .col_avatar{
    padding: 0;
}

.logo {
    display: block;
    text-decoration: none;
    width: 188px;
    height: 66px;
    margin-left: 7px;
}

.logo_image {
    width: 188px;
    height: 66px;
}

.avatar {
    display: inline-block;
    margin-top: 8px;
    margin-left: 24px;
}

.pages {
    margin-top: 22px;
    font-weight: 700;
    font-size: 18px;
}

.pages a {
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.pages a:hover {
    color :#DF2157;
}

.pages a:after {
    display: block;
    content: "";
    background-color: #DF2157;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pages a:hover:after, .pages a:focus:after {
    width: 100%;
}

.random {
    margin-left: 72px;
}

.browse-all {
    margin-left: 76px;
}

.compare {
    margin-left: 28px;
}

.find {
    margin-left: 55px;
}