:root{
    --red-color: #E42759;
    --blue-color: #00001E;
    --white-color: white;
    --milk-color: #FEFDFA;
    --yellow-color: #F7CF54;
    --dark-color:black;
    --light-color: #fff;
    --grey-color: #505050;
    --trans-color:transparent;
    --icons-color: #B6B6B6;
    --green-color:rgb(145, 223, 145);
    --mistake-color: rgb(215, 93, 93) ;
}
body{
    overflow-y:hidden;
}
.window{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.app{
    background: var(--blue-color);
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 200px var(--red-color);
}
.app h1{
    font-size: 25px;
    color: var(--light-color);
    font-weight: 600;
    border-bottom: 1px solid var(--yellow-color);
    padding-bottom: 30px;

}
.quiz{
    padding: 20px 0px;
}
.quiz h2{
    font-size: 18px;
    color: var(--light-color);
    font-weight: 600;
}
#answer-buttons{
    display: flex;
    flex-direction: column;
}
.btn{
    background: white;
    color: var(--grey-color);
    font-weight: 500;
    border: 1px solid var(--grey-color);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
    background: var(--red-color);
    color: var(--light-color);
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #E42759;
    color:var(--light-color);
    font-weight: 500px;
    width: 150px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#next-btn:hover{
    color: var(--blue-color);
    transition: all 0.3s;
}
.correct{
    background: var(--green-color);
}
.incorrect{
    background: var(--mistake-color);
}