.welcome-text {
    padding-top: 61px;
}

.become-text {
    color: #fff;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    /* margin-top: 70px; */
}
.underbecome-text  {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

.become-text .nerd {
    position: 4px;
}

.cards_block{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 777px;
    height: 498px;
}

.cards_block .card{
    --transform-speed: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 225px;
    border-radius: 28px;
    transition: var(--transform-speed) ease-in-out;
    background: url('../img/card_bg_grey.svg') center center/cover no-repeat;
    outline: #69696A solid 0px;
}

.cards_block .card .card_img{
    width: 176px;
    height: 72px;
    transition: calc(var(--transform-speed)*2) ease-in-out;
    background: url('../img/marvel_black-and-white.png') center center/cover no-repeat;
}

.cards_block .card:hover{
    background: url('../img/marvel_bg.png') center center/cover no-repeat;
    outline: #B61717 solid 3px;
    transform: scale(1.1);
}

.cards_block .card:hover .card_img{
    background: url('../img/marvel_logo.png') center center/cover no-repeat;
    transform: 
        scale(1.05)
        translateY(-0.3rem);
}

.cards_block .card .card_marvel_logo{
    width: 85%;
}

/* .wrap { стили для карточек
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display:block;
}

.marvel-card {
    width: 225px;
    height: 225px;
    position: relative;
    perspective: 1000px;
}

.front, .back {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.marvel-card:hover .front {transform: rotateY(180deg);}
.marvel-card:hover .back {transform: rotateY(360deg);} */