body {
    overflow-y: hidden;
}

section
{
    min-height: 100vh;
    overflow-y: auto;
}

section::-webkit-scrollbar{
    width: 7px;
}
section::-webkit-scrollbar-track{
    /* box-shadow: inset 0 0 6 rgba(0, 0, 0, 0.8); */
    color: transparent;
}
section::-webkit-scrollbar-thumb{
    background-color: #E42759;
    /* border-radius: 5px; */
}

.welcome-text {
    padding-top: 35px;
}

.become-text {
    color: #FEFDFA;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.underbecome-text  {
    color: #FEFDFA;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.become-text .nerd {
    position: 4px;
}

.cards_block{
    margin-top: 40px;
    margin-left: 102px;
    display: flex;
    justify-content: center;
    gap: 51px;
    flex-wrap: wrap;
    width: 777px;
    height: 450px;
}

.cards_block .card{
    --transform-speed: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 28px;
    transition: var(--transform-speed) ease;
    background: url('../img/card_bg_grey.svg') center center/cover no-repeat;
    outline: #69696A solid 0px;
}

.cards_block .card:hover{
    transform: scale(1.1);
}

.cards_block .card:hover .card_img{
    transform: 
        scale(1.05)0376f2
        translateY(-0.3rem);
}

.cards_block .card .card_img{
    transition: calc(var(--transform-speed)*2) ease;
}

/* фоны */
.cards_block .card-marvel-bg:hover{
    outline: #B61717 solid 3px;
    background: url('../img/marvel_bg_downscaled.png') center center/cover no-repeat;
}

.cards_block .card-dc-bg:hover{
    outline: #0376f2 solid 3px;
    background: url('../img/dc_bg_downscaled.png') center center/cover no-repeat;
}

.cards_block .card-sw-bg:hover{
    outline: #ffe81f solid 3px;
    background: url('../img/sw_bg_downscaled.png') center center/cover no-repeat;
}

.cards_block .card-tmnt-bg:hover{
    outline: #aaca4e solid 3px;
    background: url('../img/tmnt_bg_downscaled.png') center center/cover no-repeat;
}

.cards_block .card-anime-bg:hover{
    outline: #971ded solid 3px;
    background: url('../img/anime_bg_downscaled.png') center center/cover no-repeat;
}

/* логотипы */
.cards_block .card-marvel-bg:hover .card_img{
    background: url('../img/marvel_logo.png') center center/cover no-repeat;
}

.cards_block .card-dc-bg:hover .card_img{
    background: url('../img/dc_logo.png') center center/cover no-repeat;
}

.cards_block .card-sw-bg:hover .card_img{
    background: url('../img/sw_logo.png') center center/cover no-repeat;
}

.cards_block .card-tmnt-bg:hover .card_img{
    background: url('../img/tmnt_logo.png') center center/cover no-repeat;
}

.cards_block .card-anime-bg:hover .card_img{
    background: url('../img/anime_logo.png') center center/cover no-repeat;
}


/* размеры логотипов */

.cards_block .card-marvel-bg .card_img{
    width: 152px;
    height: 62px;
}

.cards_block .card-dc-bg .card_img{
    width: 120px;
    height: 120px;
}

.cards_block .card-sw-bg .card_img{
    width: 190px;
    height: 190px;
}

.cards_block .card-tmnt-bg .card_img{
    width: 175px;
    height: 63px;
}

.cards_block .card-anime-bg .card_img{
    width: 169px;
    height: 66px;
}

.cards_block .card .card-marvel-logo{
    background: url('../img/marvel_black-logo.png') center center/cover no-repeat;
}

.cards_block .card .card-dc-logo{
    background: url('../img/dc_black-logo.png') center center/cover no-repeat;
}

.cards_block .card .card-sw-logo{
    background: url('../img/sw_black-logo.png') center center/cover no-repeat;
}

.cards_block .card .card-tmnt-logo{
    background: url('../img/tmnt_black-logo.png') center center/cover no-repeat;
}

.cards_block .card .card-anime-logo{
    margin-top: 23px;
    background: url('../img/anime_black-logo.png') center center/cover no-repeat;
}

.cards-text{
    position: relative;
    max-width: 333px;
    height: 402px;
    color: #FEFDFA;
    font-size: 23px;
    font-weight: 800;
    bottom: 430px;
    left: 900px;
    background-color:#00000075;
    border-radius:24px;
    padding: 10px;
}

.cards-text .heroes-text{
    /* margin-bottom: 160px; */
}

.cards-text .heroes-text span{
    color: #E42759;
    font-weight: 900;
    letter-spacing: 2px;
}

@media (width >= 1400px){
    .welcome-text {
        padding-top: 0px;
    }
}

@media (width < 1400px){
    .welcome-text{
        padding-top: 10px;
    }
    .become-text{
        font-size: 34px;
    }
    .underbecome-text{
        font-size: 17px;
    }
    .cards_block{
        margin-top: 20px;
        margin-left: 30px;
        gap: 35px;
        height: auto;
    }
    .cards_block .card{
        width: 175px;
        height: 175px;
    }
    .cards_block .card-marvel-bg .card_img{
        width: 137px;
        height: 55px;
    }
    .cards_block .card-dc-bg .card_img{
        width: 100px;
        height: 100px;
    }
    .cards_block .card-sw-bg .card_img{
        width: 165px;
        height: 165px;
    }
    .cards_block .card-tmnt-bg .card_img{
        width: 145px;
        height: 52px;
    }
    .cards_block .card .card-anime-logo{
        margin-top: 16px;
    }
    .cards_block .card-anime-bg .card_img{
        width: 145px;
        height: 56px;
    }
    .cards_block .card:hover .card_img{
        transform:
            scale(1.05)
            translateY(-0.2rem);
    }
    .cards-text{
        left: 745px;
        bottom: 374px;

        max-width: 289px;
        height: 370px;
        font-size: 21px;
    }
    .cards-text .heroes-text span{
        letter-spacing: 1px;
    }
}

@media (width < 1200px){
    .welcome-text{
        padding-top: 10px;
    }
    .underbecome-text{
        font-size: 17px;
    }
    .cards_block{
        margin-top: 30px;
        margin-left: 0;
        gap: 35px;
        height: auto;
        width: 739px;
    }
    .cards_block .card{
        width: 165px;
        height: 165px;
    }
    .cards_block .card-marvel-bg .card_img{
        width: 130px;
        height: 52px;
    }
    .cards_block .card-dc-bg .card_img{
        width: 95px;
        height: 95px;
    }
    .cards_block .card-sw-bg .card_img{
        width: 155px;
        height: 155px;
    }
    .cards_block .card-tmnt-bg .card_img{
        width: 137px;
        height: 49px;
    }
    .cards_block .card .card-anime-logo{
        margin-top: 16px;
    }
    .cards_block .card-anime-bg .card_img{
        width: 137px;
        height: 53px;
    }
    .cards_block .card:hover .card_img{
        transform:
            scale(1.05)
            translateY(-0.2rem);
    }
    .cards-text{
        width: 237px;
        left: 672px;
        bottom: 338px;
        max-width: 291px;
        height: 319px;
        font-size: 17px;
    }
    .cards-text .heroes-text span{
        letter-spacing: 1px;
    }
}

@media (width < 992px){
    .header{
        padding: 5px 9px 23px 0;
    }
    .cards_block .card {
        width: 135px;
        height: 135px;
    }
    .become-text{
        font-size: 30px;
    }
    .underbecome-text {
        font-size: 15px;
    }
    .cards_block{
        gap: 27px;
        width: 560px;
    }
    .cards_block .card-marvel-bg .card_img {
        width: 115px;
        height: 46px;
    }
    .cards_block .card-dc-bg .card_img {
        width: 88px;
        height: 88px;
    }
    .cards_block .card-sw-bg .card_img {
        width: 140px;
        height: 140px;
    }
    .cards_block .card-tmnt-bg .card_img {
        width: 124px;
        height: 45px;
    }
    .cards_block .card-anime-bg .card_img {
        width: 117px;
        height: 45px;
    }
    .cards-text {
        width: 185px;
        left: 526px;
        bottom: 274px;
        max-width: 291px;
        height: 233px;
        font-size: 13px;
    }
}

/* .wrap { стили для карточек
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display:block;
}

.marvel-card {
    width: 225px;
    height: 225px;
    position: relative;
    perspective: 1000px;
}

.front, .back {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.marvel-card:hover .front {transform: rotateY(180deg);}
.marvel-card:hover .back {transform: rotateY(360deg);} */