
.welcome-text {
display: block;
margin: 0 auto;
justify-content: center;
align-items: center;
}
.become-text {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 70px;

}
.underbecome-text  {
    color: #fff;
    font-size: 18px;
    text-align: center;

}

/* .wrap { стили для карточек
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display:block;
}
.marvel-card {
    width: 225px;
    height: 225px;
    position: relative;
    perspective: 1000px;
}
.front, .back {
    position: absolute;
    width: 225px;
    height: 225px;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}

.marvel-card:hover .front {transform: rotateY(180deg);}
.marvel-card:hover .back {transform: rotateY(360deg);} */